---
layout: page
title: NPR Render
---
<div class="page-container">
  <div class="bar bg-mc" id="myDIV" >
    <a href="/3d-models" class="bar-item button">Latest Upload</a>
    <a href="/categories" class="bar-item button">Categories</a>
    <a href="/tags" class="bar-item button">Tags</a>
    <a href="/gallery" class="bar-item button">Gallery</a>
    <a href="/npr" class="bar-item button" style="background-color:deepskyblue;">NPR Render</a>
  </div>
<br/>
<p>Posts in category "Vehicle" are:</p>

  {% for post in site.categories.Vehicle %}
    {% if post.url %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}
  {% endfor %}

</div>
